<div class="menubar">
	<a href="/">
	<% if ${site.logo} != "" %>
		<img src="<%= site.logo %>" />
	<% end %>
	<% if ${site.logo} = "" %>
	&laquo;
	<% end %>
	</a>
	<div id="links">
		<% if ${site.twitter_id} != "" %>
			<a href="https://twitter.com/<%= site.twitter_id %>" target="_blank">&#xf099;</a>
		<% end %>
		<% if ${site.facebook_id} != "" %>
			<a href="http://www.facebook.com/<%= site.facebook_id %>" target="_blank">&#xf09a;</a>
		<% end %>
		<% if ${site.linkedin_id} != "" %>
			<a href="https://www.linkedin.com/<%= site.linkedin_id %>" target="_blank">&#xf0e1;</a>
		<% end %>
		<% if ${site.youtube_channel} != "" %>
			<a href="https://www.youtube.com/channel/<%= site.youtube_channel %>" target="_blank">&#xf167;</a>
		<% end %>
		<% if ${site.slideshare_id} != "" %>
			<a href="http://www.slideshare.com/<%= site.slideshare_id %>" target="_blank">&#xf1e7;</a>
		<% end %>
		<% if ${site.github_id} != "" %>
			<a href="http://github.com/<%= site.github_id %>" target="_blank">&#xf09b;</a>
		<% end %>
	</div>
</div>
<% if ${document.banner} != "" %>
	<div class="banner">
		<img src="<%= document.banner %>" />
		<div><div>
		<div class="title"><%= document.title %></div>
		<div class="subtitle"><%= document.slogan %></div>
		</div></div>
	</div>
<% end %>
<% if ${document.banner} = "" %>
	<div class="simpletitle">
	<div><div>
	<div class="title"><%= document.title %></div>
	<div class="subtitle"><%= document.slogan %></div>
	</div></div>
	</div>
<% end %>
<% if ${document.intro} != "" %>
	<div class="intro"><%= document.intro %></div>
<% end %>
