
/*
 * This file is part of Sympathy
 * Copyright (c) 2017 Job and Esther Technologies, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

name = "Sympathy API Reference"
version = ""
introHeader = "Sympathy - A server-side web application and network service development platform"
inputFiles = [
	"sympathy/this.pling",
	"sympathy.app/this.pling",
	"sympathy.webapi/this.pling",
	"sympathy.webcontent/this.pling"
]

namespaceDescriptions["sympathy"] = "The Sympathy framework provides a complete network development framework for multiple programming languages and operating systems. Features include TCP/UDP sockets, protocol implementations (HTTP, DNS, SMTP, SSL), I/O multiplexing, URL encoding and decoding as well as custom protocol development."
namespaceDescriptions["sympathy.webcontent"] = "The Sympathy web framework extends the base Sympathy framework and adds features used for implementing common requirements for web sites, web services and other web based applications. Features include a blog engine, wiki engine, directory based HTTP server functionality, authentication support, etc."

introText = "
= Welcome to the Sympathy API reference =

Sympathy web services are used to implement and provide fast, scalable and
secure web-based services on the Internet. Fully implemented using the Sling
programming language, Sympathy services are primarily intended to be executed
on top of the .NET platform (either Mono or Microsoft .NET). 

= Further information =

In addition to this API documentation, the Eqela development community, EQDN ([http://eqdn.tech]), provides
many other documents, tutorials and references for Sympathy and allows developers interact, collaborate and ask
questions:

@link http://eqdn.tech/sympathy \"Read more Sympathy documentation on EQDN\"

All Sympathy libraries, tools and other materials can be downloaded from the Sympathy website: [http://sympathy.ws]
"
